
<div class="row">
      <div class="col s6 offset-s6">
        <a class="waves-effect waves-light btn" routerLink="/pessoas/novo" routerLinkActive="active">Novo</a>
      </div>
</div>

<table class="highlight">
      <thead>
        <tr>
            <th data-field="id">Nome</th>
            <th data-field="name"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Albert</td>
          <td></td>

        </tr>
        <tr>
          <td>Samille</td>
          <td></td>

        </tr>

      </tbody>
    </table>
